@page "/"

<PageTitle>Home</PageTitle>

<h2 style="text-align:center; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Bienvenidos a VlogCast 1.0</h2>

<div class="Card">
   <div class="Card-body">
       <label>Nombre de usuario:</label>
       <input type="text" placeholder="Usuario"/>
        <label>Contraseña:</label>
        <input type="password" placeholder="Contraseña" />
        <button class="btn btn-primary" style="margin-top: 10px;">Iniciar sesión</button>
        <button class="btn btn-primary">Registrarse</button>
   </div> 
</div>

<div class="Card-Content">
    <h3 style="text-align:center; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">¿Qué es VlogCast?</h3>
    <p style="text-align:center; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
        VlogCast es una plataforma de blogs y podcasts donde los usuarios pueden crear, compartir y descubrir contenido multimedia.
        Con una interfaz intuitiva y herramientas de edición fáciles de usar, VlogCast permite a los creadores de contenido expresarse de manera única y conectar con su audiencia.
    </p>
</div>